---
const n_shadows = 5;
---

<div class="absolute flex h-full w-3/4 flex-col">
  {
    Array.from({ length: n_shadows }).map((_, index) => (
      <div class="flex w-full flex-row">
        <>
          <div class="self h-[380px] w-[380px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]" />
          <div class="other right-0 h-[380px] w-[380px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]" />
        </>
      </div>
    ))
  }
</div>
<style>
  .self {
    transform: translateX(-12em);
  }
  .other {
    transform: translateX(32em);
  }
</style>
