<header
  class="fixed z-10 flex h-20 w-3/4 items-center justify-around pt-2 backdrop-blur-xl md:w-[90%] lmd:h-16 lmd:text-xs"
>
  <div class="text-xl md:hidden">AdSandovalio</div>
  <nav
    class="relative flex w-1/2 items-center justify-around gap-x-1 py-1 md:w-full"
  >
    <a href="#top">HOME</a>
    <a href="#sec-projects">PROJECTS</a>
    <a href="mailto:adrian.sandoval@utec.edu.pe">CONTACT ME</a>
  </nav>
</header>
