---
import { Image } from "astro:assets";
import Card from "@/layouts/Card.astro";

import ProfilePhoto from "@/assets/profile.jpg";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
---

<main
  class="flex
   max-h-max flex-row items-center rounded-lg bg-slate-800 px-12 py-8 shadow duration-300
  [grid-area:profile] md:flex-col"
>
  <Image
    src={ProfilePhoto}
    alt="Profile Photo"
    class="size-56 rounded-full object-cover md:h-auto md:w-48 lmd:size-36"
  />
  <article
    class="flex h-max flex-col justify-between px-12 leading-normal md:px-0 md:py-8"
  >
    <header class="mb-4">
      <h1 class="text-3xl font-bold text-yellow-200 lmd:text-xl">
        Hola, soy Adrian Sandoval H.
      </h1>
      <h3 class="font-bold lmd:text-xs">
        Estudiante de la carrera de Computer Science en UTEC.
      </h3>
    </header>
    <p class="mb-3 font-normal text-gray-700 lmd:text-xs dark:text-gray-400">
      Joven apasionado, dedicado y en constante aprendizaje a las las
      tecnologías del desarrollo de software, diseño de algoritmos y ciencia de
      datos.
    </p>
    <footer class="flex flex-row gap-10 text-xs">
      <a
        href="https://www.linkedin.com/in/adSandovalio"
        class="flex h-8 w-8 duration-200 hover:bg-slate-700"
      >
        <LinkedInIcon class="m-auto h-6 w-6" />
      </a>
      <a
        href="https://www.github.com/Sandvl0593"
        class="flex h-8 w-8 duration-200 hover:bg-slate-700"
      >
        <GithubIcon class="m-auto h-6 w-6" />
      </a>
    </footer>
  </article>
</main>

<Card areaSection="image1">Image1</Card>

<Card areaSection="info">Info</Card>
