---
import Card from "@/layouts/Card.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import PostgresIcon from "./icons/PostgresIcon.astro";
import AWSIcon from "./icons/AWSIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import PowerBIIcon from "./icons/PowerBIIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import GitIcon from "./icons/GitIcon.astro";

import ProjectItem from "@/layouts/ProjectItem.astro";

---

<Card areaSection="projects">
  <div class="flex h-full w-full flex-col p-8 md:p-4">
    <span id="sec-projects"></span>
    <h2 class="mb-6 text-2xl font-bold text-yellow-200">
      Proyectos Académicos
    </h2>
    <div class="grid grid-cols-2 gap-6 md:grid-cols-1">
      <!-- Project 1 -->
      <ProjectItem
        title="Clustering para recomendación de películas"
        date="Nov. 2025"
        description="Implementación y comparación de modelos de clasificación de pósteres
        de películas aplicando procesamiento de imágenes, reducción
        dimensional y algoritmos de clustering como K-Means y DBSCAN."
      >
        <PythonIcon class="h-6 w-6 text-gray-400 hover:text-yellow-300 transition-colors" />
        <GitIcon class="h-6 w-6 text-gray-400 hover:text-red-400 transition-colors" />
      </ProjectItem>

      <!-- Project 2 -->
      <ProjectItem
        title="FeelScan"
        date="Set - Dic 2023"
        description="Aplicación web de asistente de recomendación y monitoreo, basada en
        análisis de patrones emocionales y rendimiento académico integrando
        servicios de AWS Rekognition y Textract."
      >
        <ReactIcon class="h-6 w-6 text-gray-400 hover:text-blue-400 transition-colors" />
        <NodeIcon class="h-6 w-6 text-gray-400 hover:text-green-500 transition-colors" />
        <AWSIcon class="h-6 w-6 text-gray-400 hover:text-orange-400 transition-colors" />
      </ProjectItem>

      <!-- Project 3 -->
      <ProjectItem
        title="PremierLeague Analysis"
        date="Abril 2025"
        description="Integración de un modelo relacional con PostgreSQL, extracción de
        datos con Selenium y analítica de performance de los partidos
        proveniente de datos de la Premier League."
      >
        <PythonIcon class="h-6 w-6 text-gray-400 hover:text-yellow-300 transition-colors" />
        <PostgresIcon class="h-6 w-6 text-gray-400 hover:text-blue-300 transition-colors" />
        <PowerBIIcon class="h-6 w-6 text-gray-400 hover:text-yellow-500 transition-colors" />
      </ProjectItem>

      <!-- Project 4 -->
      <ProjectItem
        title="Búsqueda de canciones Spotify"
        date="Junio - Julio 2024"
        description="Sistema de motor de búsqueda eficiente mediante índices invertidos
        utilizando canciones de Spotify aplicando Python y PostgreSQL que
        mejora la relevancia y precisión de los resultados."
      >
        <PythonIcon class="h-6 w-6 text-gray-400 hover:text-yellow-300 transition-colors" />
        <PostgresIcon class="h-6 w-6 text-gray-400 hover:text-blue-300 transition-colors" />
      </ProjectItem>
    </div>
  </div>
</Card>
