---
interface Props {
  areaSection: String;
}

const { areaSection } = Astro.props;
---

<section class="rounded-2xl bg-slate-800">
  <slot />
</section>

<style define:vars={{ areaSection }}>
  section {
    grid-area: var(--areaSection);
  }
</style>
