---
interface Props {
  areaSection: String;
}

const { areaSection } = Astro.props;
---

<div id="section" class="rounded-2xl bg-ptgreen-800 p-5">
  <div class="bg-amber-400">
    <slot />
  </div>
</div>

<style define:vars={{ areaSection }}>
  #section {
    grid-area: var(--areaSection);
  }
</style>
