---
interface Props {
  areaSection: String;
}

const { areaSection } = Astro.props;
---

<div id="section" class="bg-mantis-950 rounded-2xl p-4">
  <div class="bg-mantis-900 h-full w-full">
    <slot />
  </div>
</div>

<style define:vars={{ areaSection }}>
  #section {
    grid-area: var(--areaSection);
  }
</style>
