---
interface Props {
  areaSection: String;
}

const { areaSection } = Astro.props;
---

<div id="section" class="rounded-2xl bg-mantis-950 p-4">
  <div class="h-full w-full bg-mantis-900">
    <slot />
  </div>
</div>

<style define:vars={{ areaSection }}>
  #section {
    grid-area: var(--areaSection);
  }
</style>
