---
interface Props {
    areaSection: String;
}

const { areaSection } = Astro.props;
---

<div id="section" class="bg-sky-300">
    <slot />
</div>

<style define:vars={{ areaSection }}>
    #section {
        grid-area: var(--areaSection);
    }
</style>
