---
import NavBar from "@/components/NavBar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-mantis-980 text-white">
    <span id="top"></span>
    <NavBar />
    <div id="app" class="relative flex h-full gap-2 pt-20">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --height-body-def: 1700px;
  }

  #app {
    display: grid;
    grid-template-areas:
      "profile image1"
      "profile info"
      "experience techs"
      "softskills techs"
      "projects projects";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 24vh 40vh 30vh 30vh auto;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: system-ui, sans-serif;
    width: 75%;
    height: var(--height-body-def);
    margin: 0 auto;
  }

  @media (max-width: 950px) {
    body {
      height: calc(var(--height-body-def) * 1.5);
    }

    #app {
      grid-template-areas:
        "image1"
        "profile"
        "info"
        "experience"
        "softskills"
        "techs"
        "projects";
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 60vh 40vh 30vh 30vh 20vh auto;
    }
  }
</style>
