---
import NavBar from "@/components/NavBar.astro";
import Gradient from "@/components/Gradient.astro";
import "@fontsource/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-slate-950 text-white">
    <span id="top"></span>
    <Gradient />
    <NavBar />
    <div id="app" class="relative h-full gap-4 pt-20 lmd:pt-16">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  #app {
    display: grid;
    grid-template-areas:
      "profile info"
      "profile info"
      "projects projects"
      "volunteers image2"
      "techs techs";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 1rem;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Onest", system-ui, sans-serif;
  }

  body {
    width: 75%;
    height: auto;
    margin: 0 auto;
    min-height: 100vh;
  }

  @media (max-width: 1100px) {
    body {
      height: auto;
      width: 90%;
    }

    #app {
      grid-template-areas:
        "profile"
        "info"
        "image1"
        "volunteers"
        "techs"
        "image2"
        "projects"
        ;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 1.5rem;
      padding-bottom: 2rem;
    }
  }
</style>
