---
import NavBar from "@/components/NavBar.astro";
import Gradient from "@/components/Gradient.astro";
import "@fontsource/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-slate-950 text-white">
    <span id="top"></span>
    <Gradient />
    <NavBar />
    <div id="app" class="relative flex h-full gap-4 pt-20 lmd:pt-16">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --height-body-def: 1700px;
  }

  #app {
    display: grid;
    grid-template-areas:
      "profile info"
      "profile image1"
      "experience techs"
      "image2 techs"
      "projects projects";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 280px 90px 400px 90px auto;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Onest", system-ui, sans-serif;
  }

  body {
    width: 75%;
    height: var(--height-body-def);
    margin: 0 auto;
    min-height: 100vh;
  }

  @media (max-width: 1100px) {
    body {
      height: calc(var(--height-body-def) * 1.5);
    }

    #app {
      grid-template-areas:
        "profile"
        "info"
        "image1"
        "experience"
        "techs"
        "image2"
        "projects";
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 230px 90px 200px 90px 60px auto;
    }
  }
</style>
